html{
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    height: 100%;
    scroll-padding-top: 6rem;
}

body{
    min-height: 100vh;
}

/* Fonts */

@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish,Noto_Sans/Mulish/Mulish-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Noto";
    src: url("../fonts/Mulish,Noto_Sans/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf") format('truetype');
}

/* Generics */

h2{
    font-size: 1.5rem;
    line-height: 2rem;
}

h3{
    font-size: 1.45rem;
    line-height: 2rem;
}

img{
    max-height: 315px;
}

/* Header */
header{
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #006db0;
    font-family: "Noto";
    align-content: center;
    color: white;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}


.bar-padding{
    padding: 1.5rem 1.5rem;
}

header h1 {
    font-size: 2rem;
    float:left;
    line-height: 1.5rem;
}


header a{
    text-decoration: none;
    color: inherit;
}


.bar-item {
    height: 100%;
    float: left;
    transition: background-color 100ms ease-out;
    overflow: hidden;
}

.dropdown{
    float: left;
    transition: di;
}

.dropdown:hover > .dropdown-content{
    display: block;
}

.dropdown-label{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

.bar-hover:hover{
    background-color: #003e63;
}

header .acontainer{
    float:right;
}

.dropdown-content{
    position: absolute;
    box-sizing: border-box;
    min-width: 150px;
    display: none;
}

.dropdown-content a{
    float: none;
    color: black;
}

.dropdown-item{
    display:block;
    padding: .5rem;
    font-size: 1.25rem;
    background-color: white;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
    min-width: 150px;
    transition: background-color 100ms ease-out;
}

.dropdown-item:hover{
    background-color: #76caff;
    /* border-right-color: #7ab4ff; */
}

.sub-dropdown{
}

.sub-dropdown-item{
    display: block;
    padding: .5rem;
    font-size: 1.25rem;
    background-color: white;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
    min-width: 150px;
}

.sub-dropdown-content:hover{
    background-color: #76caff;
}

.dropdown-content:has(> .sub-dropdown-content:hover){
    display: block;
}

.sub-dropdown-content{
    float:right;
    display: none;
}

.dropdown-item:hover + .sub-dropdown-content {
    display: inline;
}

.container{
    padding-top: 73px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto";
    flex-grow: 1;
}

/* Page Content */



.content-section{
    display: block;
    box-sizing: border-box;
    width: 85%;
    background-color: rgb(41, 41, 41);
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-top: 2rem;
    color:white;
    flex-grow: 1;
}

.content-section h1{
    font-size: 2.5rem;
}

.subsection-title{
    font-size: 1.5rem;
    line-height: 4rem;
}

.content-subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: inherit;
    width: 100%;
}

.project-name{
    font-size: 2rem;
    line-height: 3rem;
}
.project-company{
    font-size: 1.5rem;
    line-height: 2rem;
}
.project-role{
    font-size: 1.25rem;
    line-height: 2rem;
    font-style: italic;
}

.content-preview {
    width: 100%;
    padding: 2rem 1.5rem;
    margin: 2rem 0rem;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
}

.content-preview iframe{
}

.content-left{
    margin-right: auto;
    margin-left: 0;
    background: linear-gradient(90deg, rgb(131, 69, 69) 0%,rgb(41, 41, 41) 100%);
    background-size: 60%;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: background 500ms linear;
}
.content-right{
    margin-left: auto;
    margin-right: 0;
    background: linear-gradient(90deg, rgb(41, 41, 41) 0%, rgb(75, 127, 160) 100%);
    background-size: 65%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: background 500ms linear;
}

.center-content{
    text-align: center;
}
.content-preview img{
    flex-grow: 1;
}
.content-wrapper{
    display: inline-block;
}
.content-slideout{
    min-height: 100%;
    max-width: 30%;
    flex-grow: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    transition: opacity 500ms linear;
}

.content-slideout a{
    color:inherit;
    text-decoration: underline;
}

.content-base{
    width: 60%;
}
.content-button{
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    align-self: stretch;
    padding-right: 2%;
    pointer-events: all;
}
.content-button-right:hover img{
    content:url("../images/chevron-right-dark.svg");
}
.content-button-left:hover img{
    content:url("../images/chevron-left-dark.svg");
}
.content-left:hover{
    background-size: 100%;
}

.content-left:hover .content-slideout{
    opacity: 100%;
}


.content-right:hover{
    background-size: 100%;
}

.content-right:hover .content-slideout{
    opacity: 100%;
}
.content-left:hover .content-slideout{
    pointer-events: all;
}
.content-right:hover .content-slideout{
    pointer-events: all;
}
.content-button img{
    height: 32px;
    width: auto;
}
.no-subtitle{
    padding-bottom: 2rem;
}

#media-left{
    box-shadow: 10px 4px 15px  rgb(36, 25, 25);
    box-sizing: content-box;
    margin: 2rem;
    pointer-events: all;
    transition: box-shadow 500ms linear;
}

#media-right{
    box-shadow: -10px 4px 15px  rgb(38, 45, 49);
    box-sizing: content-box;
    margin: 2rem;
    pointer-events: all;
    transition: box-shadow 500ms linear;
}

#coming-soon{
    font-style: italic;
}

.content-right:hover #media-right
{
    box-shadow: -20px 4px 15px  rgb(38, 45, 49);
}
.content-left:hover #media-left
{
    box-shadow: 20px 4px 15px  rgb(36, 25, 25);
}

/* Resume */
.resume-object{
    width: 60%;
    height: 1280px;
}

/* Contact */
.contact-form{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    max-width: 500px;
    background-color: #006db0;
    padding: 2rem;
    border: white 2px solid;
    box-shadow: -10px 4px 15px  rgb(0, 0, 0);
}

.contact-form #form-items{
    min-width: 300px;
    max-width: 500px;
    margin: 1rem 0rem;
}

.contact-form textarea{
    min-height: 200px;
    max-height: 600px;
}